<ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>
  
    <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  
  </ul>

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
  </head>
  


<div class="container-fluid">
    <div class="row mt-5">
       <div class="col">
       <div class="col-4">
            <div class="card shadow">
               <div class="card-body">
                <form>
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">Register as Landlord</h4>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>
                    <button type="button" class="btn-info" (click)="register()">Register</button>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/overview" style="text-decoration: none;">Have an account? <span class="text-danger"></span></a>
                        </div>
                        <a href="https://support.google.com/accounts/answer/27441?hl=en" class="btn btn-primary">Register as Tenant</a>
                    </div>
                  </form>
               </div>
           </div>
       </div>
       <div class="col"></div>
   </div>
</div>

