.container-fluid {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 33%;
    margin: -60px 1 1 -60px
}

  .mb-3 {
  
    text-decoration: solid;
    text-shadow: 0ex;
    color: indigo
  }

  .btn-info {
    padding-inline: 20px;
    padding-block: 10px;
    font-family: 'Open Sans';
    color: #ffffff;
    text-transform: Capitalize;
    text-decoration: none;
    background: #ed3330;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 20px;
  }
  
  .btn-info:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
  
  ul {
  
    position: fixed;
  
    text-align: center;
  
    top: 0;
  
    width: 100%;
  
    list-style-type: none;
  
    margin: 0;
  
    padding: 0;
  
    overflow: hidden;
  
    border: 1px solid #e7e7e7;
  
    background-color: rgb(126, 123, 135);
  
  }
  
  
  
  li {
  
    display: inline-block;
  
  }
  
  
  
  li a {
  
    display: block;
  
    color: rgb(255, 255, 255);
  
    text-align: center;
  
    padding: 14px 16px;
  
    margin-inline: 20px;
  
    text-decoration: none;
    font-family: 'Aboreto', cursive;
    font-weight: 600;
  
  }
  
  
  
  /* Change the link color to #111 (black) on hover */
  
  li a:hover {
  
    background-color: #696d69;
  
  }
  
  
  
  .active {
  
    background-color: #7cf7ca;
  
  }