.container-fluid {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 33%;
    margin: -60px 1 1 -60px
}
.container-fluid {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 33%;
    margin: -60px 1 1 -60px
  }
  
  .mb-3 {
  
    text-decoration: solid;
    text-shadow: 0ex;
    color: indigo
  }
  
  ul {
  
    position: fixed;
  
    text-align: center;
  
    top: 0;
  
    width: 100%;
  
    list-style-type: none;
  
    margin: 0;
  
    padding: 0;
  
    overflow: hidden;
  
    border: 1px solid #e7e7e7;
  
    background-color: rgb(126, 123, 135);
  
  }
  
  
  
  li {
  
    display: inline-block;
  
  }
  
  
  
  li a {
  
    display: block;
  
    color: rgb(255, 255, 255);
  
    text-align: center;
  
    padding: 14px 16px;
  
    margin-inline: 20px;
  
    text-decoration: none;
  
  }
  
  
  
  /* Change the link color to #111 (black) on hover */
  
  li a:hover {
  
    background-color: #696d69;
  
  }
  
  
  
  .active {
  
    background-color: #7cf7ca;
  
  }