<ul>

  <li><a href="overview">Overview</a></li>

  <li><a href="register">Register</a></li>

  <li><a href="faq">FAQ</a></li>

  <li><a href="contact">Contact Us</a></li>

  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->

</ul>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
</head>

<body>

  <section class="showcase-area">
    <div class="showcase-container">
        <h1 class="main-title">Frequently Asked Questions</h1>
    </div>
  </section>

</body>


<br>

  <div class="content">
  <div>
    <input type="checkbox" id="question1" name="q"  class="questions">
    <div class="plus">+</div>
    <label for="question1" class="question">
      What is a tenancy agreement?
    </label>
    <div class="answers">
      A tenancy agreement is a contract signed by both the tenant and the landlord. 
      It outlines what has been agreed and all the terms to which both parties must comply during the tenancy.</div>
  </div>
  
  <div>
    <input type="checkbox" id="question2" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question2" class="question">
      When can my landlord enter the property?
    </label>
    <div class="answers">
      A landlord has to give a tenant 24 hours notice in writing before entering the property, unless it's an emergency.
    </div>
  </div>
    
  <div>
    <input type="checkbox" id="question3" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question3" class="question">
      What if I can't pay my rent? 
    </label>
    <div class="answers">
      It is always your responsibility to pay the rent. If circumstances change and you become unemployed or are unable to work due to sickness, 
      it is important to speak to your landlord or letting agent and see if you can reschedule your payments.
      The most important thing is not to let arrears pile up until they're unmanageable and cause you unnecessary stress. 
      To keep yourself protected, you could consider purchasing insurance against sickness and unemployment.
    </div>
  </div>

  <div>
    <input type="checkbox" id="question4" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question4" class="question">
      What if I want to end the tenancy?
    </label>
    <div class="answers">
      If you are within the initial fixed term of a tenancy agreement, you will be liable to keep paying the rent until the fixed term is finished. If you are no longer within the fixed term of the agreement 
      (i.e. a rolling contract or "statutory periodic tenancy") the original tenancy agreement will define the notice you need to give.
    </div>
  </div>

  <div>
    <input type="checkbox" id="question5" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question5" class="question">
      What is a guarantor?
    </label>
    <div class="answers">
      If a tenant is not fully approved by the referencing process, they can ask a guarantor to support them. 
      A guarantor (usually a parent or guardian) will agree to take responsibility for the rent if the tenant fails to pay it.
      Guarantors are parties to the Tenancy Agreement and are required to pay any rent arrears if the tenant does not pay and for 
      any damages costing more than the deposit.
    </div>
  </div>

  <div>
    <input type="checkbox" id="question6" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question6" class="question">
      I've found a place I want to rent. Now what?
    </label>
    <div class="answers">
      If you haven’t already, make sure you go and view the property. Once you are certain that you wish to proceed to secure the property, contact the agent who will agree terms between you 
      and the landlord and will then begin the referencing process to ensure you’re in a position to rent the property.
    </div>
  </div>

  </div>


  