<ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>
  
    <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  
  </ul>

  <h1 style="margin-top: 80px; text-align: center; margin-bottom: 50px;">Properties</h1>

  <div class="property-container" style="width: 100%;">
    <div style="float: left; width: 30%; height: 200px; background-color: aqua; margin-left: 300px;">
      Test 1
    </div>
    <div style="float: left; width: 30%; height: 200px; background-color: aquamarine; margin-left: 200px;">
      Test 2
    </div>
    <div style="float: left; width: 30%; height: 200px; background-color: aqua; margin-left: 300px; margin-top: 50px;">
      Test 3
    </div>
    <div style="float: left; width: 30%; height: 200px; background-color: aquamarine; margin-left: 200px; margin-top: 50px;">
      Test 4
    </div>
    <div class="container-name" style="float: left; margin-left: 900px; margin-top: 50px;"><a class="example_a" href="#" target="_blank" rel="nofollow"><span>Modify Property</span></a></div>
  </div>
  <div class="container">
    
  </div>