<ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>
  
    <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  
  </ul>


  <html dir="rtl">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  type="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    </head>
    <body>
      
    
        <section class="background">
            <div class="container-fluid">
                <div class="row">
                    <!--start first row-->
                    <div class="container"> 
                        <div class="row" >
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body">
                            <div class="container h-100" >
                                <div class="row w-100 h-100">
                                    <div class="col-6 right-box my-box-right">
                                        <img src="assets/houselogo.png" alt="shanbemag" class="img-fluid logo-in-box">  
                                    </div>
                                    <div class="col-6 left-box text-center  my-box-left">
                                        <p class="mt-2 mb-4">E7 9AA
                                            </p>
                                        <div class="text-center mb-4"><button class="btn btn-warning btn-sm btn-block mt-5 mb-4">View Lease</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body" >
                                <div class="container h-100">
                                    <div class="row w-100 h-100">
                                        <div class="col-6 right-box my-box-right">
                                            <img src="assets/houselogo.png" alt="logo-header" class="img-fluid logo-in-box">
                                            <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" ></button></div>
                                        </div>
                                        <div class="col-6 left-box text-center  my-box-left">
                                            <p class="mt-2">E7 9AA</p>
                                            <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" >View Lease</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body">
                                <div class="container h-100">
                                    <div class="row w-100 h-100">
                                        <div class="col-6 right-box my-box-right ">
                                              <img src="assets/houselogo.png" alt="shanbemag" class="img-fluid logo-in-box-shanbemag">  
                                        </div>
                                        <div class="col-6 left-box text-center  my-box-left">
                                            <p class="mt-2">E7 9AA
                                            </p>
                                            <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" >View Lease</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                    <!--End first row-->
                    <!--free space--><div class="col-12 w-100" style="height:40px;"></div><!--end-->
                    <!--start second row-->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body">
                      <div class="container h-100">
                          <div class="row w-100 h-100">
                              <div class="col-6 right-box my-box-right ">
                                    <img src="assets/houselogo.png" alt="shanbemag" class="img-fluid logo-in-box-shanbemag">  
                              </div>
                              <div class="col-6 left-box text-center  my-box-left">
                                  <p class="mt-2">E7 9AA
                                  </p>
                                  <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" >View Lease</button></div>
                              </div>
                          </div>
                      </div>
                  </div> <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body">
                    <div class="container h-100">
                        <div class="row w-100 h-100">
                            <div class="col-6 right-box my-box-right ">
                                  <img src="assets/houselogo.png" alt="shanbemag" class="img-fluid logo-in-box-shanbemag">  
                            </div>
                            <div class="col-6 left-box text-center  my-box-left">
                                <p class="mt-2">E7 9AA
                                </p>
                                <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" >View Lease</button></div>
                            </div>
                        </div>
                    </div>
                </div> <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 column-body">
                  <div class="container h-100">
                      <div class="row w-100 h-100">
                          <div class="col-6 right-box my-box-right ">
                                <img src="assets/houselogo.png" alt="shanbemag" class="img-fluid logo-in-box-shanbemag">  
                          </div>
                          <div class="col-6 left-box text-center  my-box-left">
                              <p class="mt-2">E7 9AA
                              </p>
                              <div class="text-center mt-4"><button class="btn btn-warning btn-sm btn-block test3" >View Lease</button></div>
                          </div>
                      </div>
                  </div>
              </div>
                          
    <div class="container-name" style="float: left; margin-left: 900px; margin-top: 50px;"><a class="example_a" href="#" target="_blank" rel="nofollow"><span>Modify Property</span></a></div>
                      </div>
                  </div>
                        </div>
                    </div>
                   
   








 
  <div class="container">
    
  </div>