<ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>

    <li><a href="settings">Settings</a></li>
  
    <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  
  </ul>

  

  
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head> -->
  <body>
 
    <!-- <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Restraunt</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" />
    </head> -->
    
    <body>
        
        <!-- <section class="showcase-area" id="showcase">
            <div class="showcase-container">
                <h1 class="main-title" id="home">Lease With Ease</h1>
                <p>Lease Management simplified more than ever</p>
                
            </div>
        </section> -->
    
        <section id="food">


            
            <h2>List of Properties</h2>
            <div class="food-container container">
                <div class="food-type fruite">
                    <div class="img-container">
                        <img src="https://cdn2-property.estateapps.co.uk/files/property/31/image/jet_cor-WHT200102/WHT200102_01.jpg" alt="error" />
                        <div class="img-content">
                            <h3> SA15 3ND</h3>
                            <a href='../../../assets/Lease_Agreements/Lease Agreement 1.docx' class="btn-primary" target="blank">View Lease </a> 
                            <div class="dropdown">
                                <a href="#" class="btn-primary" target="blank">>> </a> 
                                <div class="dropdown-options">
                                  <a href="#">Tenant 1 <a href="#" class="btn-secondary" target="blank">Delete</a></a>
                                  <a href="#">Tenant 2 <a href="#" class="btn-secondary" target="blank">Delete</a> </a>
                                  <a href="#">Tenant 3 <a href="#"class="btn-secondary" target="blank">Delete</a> </a>
                                  <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                        <img src="assets/add.png" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <form action="/action_page.php">
                                    <h1>Add tenant</h1>
                                    <label for="fname">Name:</label>
                                    <input type="text" id="fname" name="fname"><br><br>
                                    <label for="lname">Post Code:</label>
                                    <input type="text" id="lname" name="lname"><br><br>
                                    <label for="lname">Email:</label>
                                    <input type="text" id="lname" name="lname"><br><br>
                                    <button>Upload Lease</button>
                                    <input type="submit" value="Submit">
                                  </form>
                            </div>
                          </div>
                        </div>
                                </div>
                              </div>
                            
                        </div>
                    </div>
                </div>
                <div class="food-type vegetable">
                    <div class="img-container">
                        <img src="https://lid.zoocdn.com/645/430/fab3db5bf2a0c0bdbfc8f6ab39632dd867926209.jpg" alt="error" />
                        <div class="img-content">
                            <h3> LL70 9HJ</h3>
                            <a href='../../../assets/Lease_Agreements/Lease Agreement 1.docx' class="btn-primary" target="blank">View Lease</a>
                            <div class="dropdown">
                                <a href="#" class="btn-primary" target="blank">>> </a> 
                                <div class="dropdown-options">
                                    <a href="#">Tenant 1 <a href="#" class="btn-secondary" target="blank">Delete</a></a>
                                    <a href="#">Tenant 2 <a href="#" class="btn-secondary" target="blank">Delete</a> </a>
                                    <a href="#">Tenant 3 <a href="#"class="btn-secondary" target="blank">Delete</a> </a>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <img src="assets/add.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <form action="/action_page.php">
                                        <h1>Add tenant</h1>
                                        <label for="fname">Name:</label>
                                        <input type="text" id="fname" name="fname"><br><br>
                                        <label for="lname">Post Code:</label>
                                        <input type="text" id="lname" name="lname"><br><br>
                                        <label for="lname">Email:</label>
                                        <input type="text" id="lname" name="lname"><br><br>
                                        <button>Upload Lease</button>
                                        <input type="submit" value="Submit">
                                      </form>
                                </div>
                              </div>
                            </div>
                                  </div>
                                </div>
                              
                        </div>
                    </div>
                </div>
                <div class="food-type grin">
                    <div class="img-container">
                        <img src="https://i.pinimg.com/originals/55/4b/c6/554bc6cbabcbb8c04b7a77d9c4a01cf4.jpg" alt="error" />
                        <div class="img-content">
                            <h3> BN21 3DU</h3>
                            <a href='../../../assets/Lease_Agreements/Lease Agreement 1.docx' class="btn-primary" target="blank">View Lease</a>
                            <div class="dropdown">
                                <a href="https://en.wikipedia.org/wiki/Fruit" class="btn-primary" target="blank">>> </a> 
                                <div class="dropdown-options">
                                    <a href="#">Tenant 1 <a href="#" class="btn-secondary" target="blank">Delete</a></a>
                                    <a href="#">Tenant 2 <a href="#" class="btn-secondary" target="blank">Delete</a> </a>
                                    <a href="#">Tenant 3 <a href="#"class="btn-secondary" target="blank">Delete</a> </a>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <img src="assets/add.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <form action="/action_page.php">
                                        <h1>Add tenant</h1>
                                        <label for="fname">Name:</label>
                                        <input type="text" id="fname" name="fname"><br><br>
                                        <label for="lname">Post Code:</label>
                                        <input type="text" id="lname" name="lname"><br><br>
                                        <label for="lname">Email:</label>
                                        <input type="text" id="lname" name="lname"><br><br>
                                        <button>Upload Lease</button>
                                        <input type="submit" value="Submit">
                                      </form>
                                </div>
                              </div>
                            </div>
                                  </div>
                                </div>
                              
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <button class="example_a" style="margin-left: 90px;" (click)="modify()">Modify Property</button>
                      
   
  <div class="container">
    
  </div>
        </section>
       
  
  
                          
    