<ul>

  <li><a href="overview">Overview</a></li>

  <li><a href="register">Register</a></li>

  <li><a href="faq">FAQ</a></li>

  <li><a href="contact">Contact Us</a></li>

  <li><a href="aboutus">About Us</a></li>

  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->

</ul>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
</head>


<!-- <header style="margin-top: 50px;">
  <div class="overlay">
    <h1>Lease With Ease</h1>
    <div class="overview">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.
      </p>
    </div>
  </div>
</header> -->

<body>

  <section class="showcase-area">
    <div class="showcase-container">
        <h1 class="main-title">Lease With Ease</h1>
        <p class="overview-text">
          Lease Management simplified more than ever
        </p>
    </div>
  </section>

</body>

<div class="container-fluid" style="top: 30%;">
  
  <div class="row mt-5">
     <div class="col">
     <div class="col-4">
          <div class="card shadow">
             <div class="card-body">
              <form>
                <div class="mb-3">
                  <h4 class="text-dark">Login as Landlord</h4>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <button type="button" class="btn-info" (click)="login()">Login</button>
                <div class="row">
                  <div class="col-md-6">
                    <a href="/register" style="text-decoration: none;">Need Account? <span class="text-danger"></span></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="top: 70%;">
  
  <div class="row mt-5">
     <div class="col">
     <div class="col-4">
          <div class="card shadow">
             <div class="card-body">
              <div class="mb-3">
                <div id = "rightbox">
                  <h4 class="text-dark" style="margin-bottom: 20px;">Login as Tenant</h4>
                  <div class="row mt-2">
                    <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                        <div class="card shadow text-center">
                            <div class="card-body">
                                <img src="../../../assets/Images/google.png" alt="" height="24px" width="24px"> Sign In with Google
                            </div>
                        </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>

