
<div *ngIf="currentTutorial" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <!-- <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentTutorial.name"
          name="name"
        />
      </div> -->

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentTutorial.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="number">Number</label>
        <input
          class="form-control"
          id="number"
          required
          [(ngModel)]="currentTutorial.number"
          name="number"
        />
      </div>
    </form>
  
    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>
  
    <button type="submit" class="badge badge-success" (click)="updateTutorial()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentTutorial">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>