<ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>
  
    <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  
  </ul>

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
  </head>


<div class="container">
    <div class="container-name"><a class="example_a" href="view-edit-lease" target="_blank" rel="nofollow"><span>View + Edit Lease</span></a></div>

    <div class="container-name"><a class="example_a" href="#" target="_blank" rel="nofollow"><span>View Changes Requested</span></a></div>

</div>



