
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
  </head>




<body>

    <section class="showcase-area">
      <div class="showcase-container">
          <h1 class="main-title">About Us</h1>
      </div>
    </section>
  
  </body>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div style="margin-left: 20px;" class="card">
        <div class="container">
          <h2>Sadman Rahman</h2>
          <p class="title">Lead Software Developer</p>
          <p>Collaborating with project managers, designers, and other stakeholders to define project requirements and create technical plans.</p>
          <p>rahmas78@lsbu.ac.uk</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div style="margin-bottom: 50px;" class="card">
        <div class="container">
          <h2>Mosfeq Hossain</h2>
          <p class="title">Software developer</p>
          <p>Design, develop, test, and maintain software systems and applications. 
            Participate in the continuous improvement of software development processes.</p>
          <p>hossam56@lsbu.ac.uk</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div style="margin-right: 70px;" class="container">
          <h2>Elvis Reja</h2>
          <p class="title">Software Developer</p>
          <p>Design, develop, test, and maintain software systems and applications. 
            Perform code reviews and ensure that code adheres to coding standards.</p>
          <p>rejae@lsbu.ac.uk</p>
        </div>
      </div>
    </div>
  </div>

  <h1 style="margin-left: 870px;">Roadmap</h1>


  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
  <!-- The Timeline -->
  
  <ul class="timeline">
  
      <!-- Item 1 -->
      <li>
          <div class="direction-r">
              <div class="flag-wrapper">
                  <span class="flag">Research</span>
                  <span class="time-wrapper"><span class="time">27 October 2022 - 10 November 2022t</span></span>
              </div>
              <div class="desc">
                Gathered information from the tenant and landlord survey we craeted at the start of the project.
                Also researched problems tenants cause for lanloards as well as the layout of a lease agreement and what it should include.
              </div>
          </div>
      </li>
    
      <!-- Item 2 -->
      <li>
          <div class="direction-l">
              <div class="flag-wrapper">
                  <span class="flag">Design</span>
                  <span class="time-wrapper"><span class="time">03 November 2022 - 01 October 2022</span></span>
              </div>
              <div class="desc">
                Designed flowchart, use case diagram, low and high fidelity to illustrate initial functionality and UI of the web application.
              </div>
          </div>
      </li>
  

      <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Stage 1 Dev</span>
                <span class="time-wrapper"><span class="time">24 November 2022 - 18 December 2022</span></span>
            </div>
            <div class="desc">
              Developed the login functionalities and the navigation bar, as well as parts of the core features for the landlord.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Stage 2 Dev</span>
                <span class="time-wrapper"><span class="time">18 December 2022 - 31 December 2022</span></span>
            </div>
            <div class="desc">
              Developed the remaining functionality and UI for landlord page. Additionally, developing all features for tenants
              as well as, contact, about us, faq and settings page.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Stage 3 Dev</span>
                <span class="time-wrapper"><span class="time">31 December 2022 - Underway</span></span>
            </div>
            <div class="desc">
              Upcoming features:
              Allow landlords and tenants to view and make changes to the lease directly through our web application and
              more exciting features
              
            </div>
        </div>
    </li>
    
  </ul>
  