
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
  </head>




<body>

    <section class="showcase-area">
      <div class="showcase-container">
          <h1 class="main-title">About Us</h1>
      </div>
    </section>
  
  </body>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Elvis Reja</h2>
          <p class="title">Software developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>rejae@lsbu.ac.uk</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div style="margin-bottom: 50px;" class="card">
        <div class="container">
          <h2>Mosfeq Hossam</h2>
          <p class="title">Software developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>hossam56@lsbu.ac.uk</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Sadman Rahman</h2>
          <p class="title">Lead software developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <h1 style="margin-left: 870px;">Roadmap</h1>


  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
  <!-- The Timeline -->
  
  <ul class="timeline">
  
      <!-- Item 1 -->
      <li>
          <div class="direction-r">
              <div class="flag-wrapper">
                  <span class="flag">Research</span>
                  <span class="time-wrapper"><span class="time">2013 - present</span></span>
              </div>
              <div class="desc">My current employment. Way better than the position before!</div>
          </div>
      </li>
    
      <!-- Item 2 -->
      <li>
          <div class="direction-l">
              <div class="flag-wrapper">
                  <span class="flag">Design</span>
                  <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
              </div>
              <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
          </div>
      </li>
  
      <!-- Item 3 -->
      <li>
          <div class="direction-r">
              <div class="flag-wrapper">
                  <span class="flag">Development</span>
                  <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
              </div>
              <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
          </div>
      </li>

      <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Q1</span>
                <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
            </div>
            <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
        </div>
    </li>

    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Q2</span>
                <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
            </div>
            <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Q3</span>
                <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
            </div>
            <div class="desc">A description of all the lectures and courses I have taken and my final degree? </div>
        </div>
    </li>
    
  </ul>
  