 <ul>

    <li><a href="overview">Overview</a></li>
  
    <li><a href="register">Register</a></li>
  
    <li><a href="faq">FAQ</a></li>
  
    <li><a href="contact">Contact Us</a></li>

    <li><a href="settings">Settings</a></li>
  
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li>  -->
  
  </ul> -->

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
 
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Restraunt</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" />
    </head> 


    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    </head>
    
    <body>
    
      <section class="showcase-area">
        <div class="showcase-container">
            <h1 class="main-title">Settings</h1>
        </div>
      </section>
    
    </body>

        <button style="margin-left:500px ;" class="example_a"  (click)="aboutus()">About Us</button>
        <button class="example_a"  (click)="aboutus()">FAQ</button>
        <button class="example_a"  (click)="aboutus()">Contact Us</button>
        <button class="example_a"  (click)="logout()">Logout</button>



