<div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="address">Address</label>
        <input
          class="form-control"
          id="address"
          required
          [(ngModel)]="tutorial.address"
          name="address"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tutorial.name"
          name="name"
        />
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="tutorial.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="number">Number</label>
        <input
          class="form-control"
          id="number"
          required
          [(ngModel)]="tutorial.number"
          name="number"
        />
      </div>
  
      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
      <button class="btn btn-success" style="margin-left: 90px;" (click)="tenantlist()">List of Tenants</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
      
    </div>
  </div>

 