<ul>

  <li><a href="overview">Overview</a></li>

  <li><a href="aboutus">About Us</a></li>

  <li><a href="register">Register</a></li>

  <li><a href="faq">FAQ</a></li>

  <li><a href="contact">Contact Us</a></li>

  <li><a href="settings">Settings</a></li>

  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->

</ul>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
</head>



<section class="showcase-area" id="showcase">
  <div class="showcase-container">
      <h1 class="main-title" id="home">Add Property</h1>  
  </div>
</section>


<div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="address">Address</label>
        <input
          class="form-control"
          id="address"
          required
          [(ngModel)]="tutorial.address"
          name="address"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tutorial.name"
          name="name"
        />
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="tutorial.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="number">Number</label>
        <input
          class="form-control"
          id="number"
          required
          [(ngModel)]="tutorial.number"
          name="number"
        />
      </div>
  
      <button (click)="saveTutorial()" class="btn btn-primary">Add Property</button>
      <button class="btn btn-warning" style="margin-left: 345px;" (click)="tenantlist()">List of Tenants</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>Successfully added property!</h4>
      <button class="btn btn-primary" (click)="newTutorial()">New Property</button>
      
    </div>
  </div>



 