  <ul>

  <li><a href="overview">Overview</a></li>

  <li><a href="register">Register</a></li>

  <li><a href="faq">FAQ</a></li>

  <li><a href="contact">Contact Us</a></li>

  <li><a href="settings">Settings</a></li>

  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->

</ul>

<button class="add-nav" (click)="addnav()">Add</button>


<div style="margin-top: 50px;">
  <div class="list row">
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <div
      class="list-group-item"
      *ngFor="let tutorial of tutorials; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.name }}
    </div>

      <!-- <ul class="list-group">
        <li

        </li>
      </ul> -->


  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
        Remove All
      </button>

      <button class="m-3 btn btn-sm btn-danger" (click)="addnav()">Add</button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <app-tutorial-details
          (refreshList)="refreshList()"
          [tutorial]="currentTutorial"
        ></app-tutorial-details>
      </div>
  
      <div *ngIf="!currentTutorial">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>
</div>
